<div id='formsection' style='background-image:url("/img/Form Background 1440w.png"); background-size:100% 100%; min-height:auto;  min-width:100%;'>
  <div id='formwidth' style='text-align:center;color:#fff; height:100%; margin-right:0;'>
    <div id='formback' style=' background: -webkit-linear-gradient(left, #202020 , #585858);padding-top:10%; width:100%; height:120%; overflow:visible; '>
      {{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}

    <h3 style='font-family: AlrightSans-Light;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 34px;' >{{ with .Site.Params.services.formHeading }}{{ . | markdownify  }}{{ end }}</h3></br>
    <p style=' width:80%; margin:0 10%; font-family: AlrightSans-Light;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 26px;' >{{ with .Site.Params.services.formSubtitle }}{{ . | markdownify }}{{ end }}</p></br>

 <form action="//mailhaven.us13.list-manage.com/subscribe/post?u=f21d21264b657f9c75ed126c8&amp;id=6e6d3d3e33" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" >
     <input id="aformemail" placeholder="Email Address"  style='font-family: AlrightSans-Light;
     font-size: 16px;
     color: #4A4A4A;
     letter-spacing: 0px; background: #FFFFFF;
     border: 1px solid #4A4A4A;text-align:center;' type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"  required/>
     <input  id="formname" placeholder="First Name" style='font-family: AlrightSans-Light;
     font-size: 16px;
     color: #4A4A4A;
     letter-spacing: 0px; background: #FFFFFF;
     border: 1px solid #4A4A4A;text-align:center;' type="text" value="" name="FNAME" class="" id="mce-FNAME">
     <input id="formlast" placeholder="Last Name" style='font-family: AlrightSans-Light;
     font-size: 16px;
     color: #4A4A4A;
     letter-spacing: 0px; background: #FFFFFF;
     border: 1px solid #4A4A4A;text-align:center;' type="text" value="" name="LNAME" class="" id="mce-LNAME">
     <div id="mce-responses" class="clear">
         <div class="response" id="mce-error-response" style="display:none"></div>
         <div class="response" id="mce-success-response" style="display:none"></div>
     </div>
   </br></br>
   <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f21d21264b657f9c75ed126c8_6e6d3d3e33" tabindex="-1" value=""></div>
   <center><input id='aformbutton' class="btn btn-primary btn-xl page-scroll" type='submit'  name="subscribe" id="mc-embedded-subscribe" class="button" value={{ with .Site.Params.services.formButton }}{{ . }}{{ end }}></center>
 </form>




</div>


  </div>










</div>
<script>

var forma = document.getElementById('aformbutton');
forma.onclick=function(event) {
var x = document.getElementById('aformemail').value;
var atpos = x.indexOf("@");
var dotpos = x.lastIndexOf(".");
  if (x==='' || atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length ) {
                  console.log('prevent');
          event.preventDefault();
          alert('Please enter email address!');
      }
};
</script>
