
<div class='aboutsectiondiv' id="sectiondiv"  >
  <div id='aboutproduct' style="text-align:center; margin-bottom:80px;">
    <img src="/img/Assets/Package Icon.png" style='width:100px; height:100px;'></br></br>

  <p style='font-size:36px;'>{{ with .Site.Params.aboutproduct.aboutTitle }}{{ . | markdownify  }}{{ end }}</p>
  <p style='font-size:30px;'>{{ with .Site.Params.aboutproduct.aboutSubtitle }}{{ . | markdownify  }}{{ end }}</p>
</div>

  <div class="about-product-content">
    <a  href='/app/'><img  src="/img/Bitmap-Copy.png"></a></br>

          <h2 style='font-family: AlrightSans-Light;
font-size: 36px;
color: #1F2526;
letter-spacing: 0px;'>{{ with .Site.Params.aboutproduct.leftHeading }}{{ . | markdownify  }}{{ end }}</h2></br>
          <p style='font-family: AlrightSans-Light;
font-size: 16px;
color: rgba(31,36,37,0.75);
letter-spacing: 0px;
line-height: 30px;' class='lcontent'>{{ with .Site.Params.aboutproduct.leftContent }}{{ . | markdownify }}{{ end }}</p></br>

          <a href="/app/" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.aboutproduct.leftButton }}{{ . }}{{ end }}</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

  </div>
      <div class="about-product-content-inner">
          <a href='/mailbox/'>{{ with .Site.Params.about.rightImage }}{{ . | markdownify  }}{{ end }}</a></br>


        <h2 style='font-family: AlrightSans-Light;
font-size: 36px;
color: #1F2526;
letter-spacing: 0px;'>{{ with .Site.Params.aboutproduct.rightHeading }}{{ . | markdownify  }}{{ end }}</h2></br>
        <p style='font-family: AlrightSans-Light;
font-size: 16px;
color: rgba(31,36,37,0.75);
letter-spacing: 0px;
line-height: 30px;' class="rcontent">{{ with .Site.Params.aboutproduct.rightContent }}{{ . | markdownify }}{{ end }}</p></br>

        <a href="/mailbox/" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.aboutproduct.rightButton }}{{ . }}{{ end }}</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp


  </div>

</div>


<div style="width:100%; display:block; overflow:auto; height:auto; background:-webkit-radial-gradient(100% -9%, #88DC86 0%, #82D980 9%, #58BC56 70%, #58BC56 86%, #50B74E 100%);; padding:10% 0 5% 0;">

<div style="width:100%;  color:#fff; margin-left:10%; font-weight:normal; ">
  <div class='aboutcta1'>
    <img src="/img/Assets/Clock Icon.png" style='width:270px; height:80px;'>
    <p style='font-family: AlrightSans-Medium;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 30px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.30);'>Automatic Package Tracking</p>
    <p style='font-family: AlrightSans-Medium;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 30px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.30);'>View transaction details, delivery status, and more for each of your purchases -- all in one place, automatically.</p>
  </div>
  <div class='aboutcta1'>
    <img src="/img/Assets/Van Icon.png" style='width:250px; height:80px;'>
    <p style='font-family: AlrightSans-Medium;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 30px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.30);'>No More Missed Deliveries</p>
    <p style='font-family: AlrightSans-Medium;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 30px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.30);'>Get notified when your package arrives. Even when you’re away, packages are safe and sound with the MailHaven smart mailbox.</p>
  </div>
  <div class='aboutcta1' >
    <img src="/img/Assets/Important Icon.png" style='width:250px; height:80px;'>
    <p style='font-family: AlrightSans-Medium;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 30px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.30);'>All-In-One App & Hardware Solution</p>
    <p style='font-family: AlrightSans-Medium;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 30px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.30);'>The MailHaven app and smart mailbox work in tandem to provide a seamless experience for the modern shopper.</p>
  </div>
</div>
</div>
