
<footer id='footerdiv' style="clear:both; margin-bottom:0; padding-bottom:0;">
  <p style='opacity: 0.69;
font-family: AlrightSans-Regular;
font-size: 16px;
color: rgba(255, 255, 255, .7);
letter-spacing: 0px;'>&copy; MailHaven</p>
    <div class="navbar-collapse" id="bs-example-navbar-collapse-2" >
        <ul class="nav navbar-nav navbar-right" style='opacity: 0.69;
font-family: AlrightSans-Regular;
font-size: 16px;
letter-spacing: 0px;' >
            <li>
                <a  style='color:rgba(255, 255, 255, .7);'  class="page-scroll" href="/about/">{{ with .Site.Params.navigation.links.about }}{{ . }}{{ end }}</a>
            </li>
            <li>
                <a  style='color:rgba(255, 255, 255, .7);' class="page-scroll" href="/blog/">{{ with .Site.Params.navigation.links.blog }}{{ . }}{{ end }}</a>
            </li>

            <li>
                <a  style='color:rgba(255, 255, 255, .7);'  class="page-scroll" href="/contact">{{ with .Site.Params.navigation.links.contact }}{{ . }}{{ end }}</a>
            </li>

        </ul>
    </div>
    


</footer>
