{{ "<!-- HEADER -->" | safeHTML }}
<header style="z-index:999"  >
  <nav id="mainNav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">{{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navul" >
                <li>
                    <a id='homeabout'  class="page-scroll" href="/about/">{{ with .Site.Params.navigation.links.about }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a id='homeblog'   class="page-scroll" href="/blog/">{{ with .Site.Params.navigation.links.blog }}{{ . }}{{ end }}</a>
                </li>

                <li>
                    <a id='homecontact'  class="page-scroll" href="/contact/">{{ with .Site.Params.navigation.links.contact }}{{ . }}{{ end }}</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
  
  <form id="desktophide" style="padding:15px 0; width:100%; text-align:center; background-color:#50b74e"  action="//mailhaven.us13.list-manage.com/subscribe/post?u=f21d21264b657f9c75ed126c8&amp;id=6e6d3d3e33" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate container" target="_blank" >
    <div id="topsignup" class="row" >
    <div class="col-sm-5">
      <p style='margin:0 0;float:left; padding-top:8px;margin-right:0;padding-right:0;  font-family: AlrightSans-Light;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0px;
      text-align:center;
      line-height: 26px;' >{{ with .Site.Params.services.formHeading }}{{ . | markdownify  }}{{ end }}</p>    </div>
    <div class="col-sm-4">
      <input id="formemail" placeholder="Email Address"  style=' margin-bottom:0;font-family: AlrightSans-Light;
      font-size: 16px;
      color: #4A4A4A;
      letter-spacing: 0px; background: #FFFFFF;
      border: 1px solid #4A4A4A;text-align:center;' type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"  required/>    </div>
    <div class="col-sm-3">
      <input id='formbutton' style=" border:solid thin;" class="btn btn-primary btn-xl page-scroll" type='submit'  name="subscribe" id="mc-embedded-subscribe" class="button" value={{ with .Site.Params.services.formButton }}{{ . }}{{ end }}>
    </div>
  </div>
</form>

<form id="tablethide" style="position:absolute;padding:15px 0; width:100%; text-align:center; background-color:#50b74e"  action="//mailhaven.us13.list-manage.com/subscribe/post?u=f21d21264b657f9c75ed126c8&amp;id=6e6d3d3e33" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate container" target="_blank" >
    <div class="tabletsignup" class="row" style="text-align:center;" >
      <div class="col-sm-12" style="width:100%;" >
        <p style='margin:0 0; padding-top:8px;margin-right:0;padding-right:0;  font-family: AlrightSans-Light;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0px;
        text-align:center;
        line-height: 26px;' >{{ with .Site.Params.services.formHeading }}{{ . | markdownify  }}{{ end }}</p>
      </div>
  </div>
  <br >
    <div class="row tabletsignup" style="width:100%;">

    <div class="col-sm-7" >
      <input id="formemail" placeholder="Email Address"  style=' margin-bottom:0;font-family: AlrightSans-Light;
      font-size: 16px;
      color: #4A4A4A;
      letter-spacing: 0px; background: #FFFFFF;
      border: 1px solid #4A4A4A;text-align:center;width:100%; margin-bottom:5px;' type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"  required/>    </div>
    <div class="col-sm-5"  >
      <input id='formbutton' style=" border:solid thin;width:100%;" class="btn btn-primary btn-xl page-scroll" type='submit'  name="subscribe" id="mc-embedded-subscribe" class="button" value={{ with .Site.Params.services.formButton }}{{ . }}{{ end }}>
    </div>
  </div>
</form>



    <div class="header-content">
        <div class="header-content-inner">
            <h1 >{{ with .Site.Params.hero.slogan }}{{ . | markdownify  }}{{ end }}</h1>
            <p >{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</p>
            <div id='showbuttons'>

            <a href="/about/" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
            <a href="#formsection" class="btn btn-default btn-xl page-scroll">{{ with .Site.Params.hero.altButton }}{{ . }}{{ end }}</a>
          </div>
        </div>
    </div>
    <div class="header-content-image">
        <div class="header-content-inner">
            <img id='desktopheader' src="/img/MH-Home-Header-Phones.png" style='width:100%; height:100%;'>
            <img id='mobileheader' src='img/MH-Home-Header-Phones.png'>
        </div>
    </div>
    <div id='hidebuttons'>
    <a href="/about/" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
    <a href="#formsection" class="btn btn-default btn-xl page-scroll">{{ with .Site.Params.hero.altButton }}{{ . }}{{ end }}</a>
  </div>




</header>
