{{ "<!-- HEADER -->" | safeHTML }}
<header  >
  <nav id="mainNav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">{{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navul" >
                <li>
                    <a id='homeabout'  class="page-scroll" href="/about/">{{ with .Site.Params.navigation.links.about }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a id='homeblog'   class="page-scroll" href="/blog/">{{ with .Site.Params.navigation.links.blog }}{{ . }}{{ end }}</a>
                </li>

                <li>
                    <a id='homecontact'  class="page-scroll" href="/contact/">{{ with .Site.Params.navigation.links.contact }}{{ . }}{{ end }}</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


    <div class="header-content">
        <div class="header-content-inner">
            <h1 >{{ with .Site.Params.hero.slogan }}{{ . | markdownify  }}{{ end }}</h1>
            <p >{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</p>
            <div id='showbuttons'>

            <a href="/about/" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
            <a href="#formsection" class="btn btn-default btn-xl page-scroll">{{ with .Site.Params.hero.altButton }}{{ . }}{{ end }}</a>
          </div>
        </div>
    </div>
    <div class="header-content-image">
        <div class="header-content-inner">
            <img id='desktopheader' src="/img/MH-Home-Header-Phones.png" style='width:100%; height:100%;'>
            <img id='mobileheader' src='img/MH-Home-Header-Phones.png'>
        </div>
    </div>
    <div id='hidebuttons'>
    <a href="/about/" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
    <a href="#formsection" class="btn btn-default btn-xl page-scroll">{{ with .Site.Params.hero.altButton }}{{ . }}{{ end }}</a>
  </div>




</header>
