<div  style="text-align:center; background-image: linear-gradient(334deg, #88DC86 0%, #50B74E 95%);
box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.50);">
  <div style='font-family: AlrightSans-Light;
color: #FFFFFF;
letter-spacing: 0px;
font-size:20px;
text-shadow: 0px 2px 1px rgba(0,0,0,0.20); padding-top:5%; padding-bottom:20px;'>{{ with .Site.Params.services.social }}{{ . | markdownify  }}{{ end }}</div>


<div style="padding-bottom:5%;">
  <a style='padding-right:20px;' href='https://m.facebook.com/mailhaven/'><img style='width:70px;' src="/img/Assets/Facebook Icon.png"></a>
  <a href='https://twitter.com/Mailhaven'><img style='width:70px;'   src="/img/Assets/Twitter Icon.png"></a>
</div>




</div>
