<header id='aboutheader' style="padding-bottom:0;box-shadow:none;z-index:999;" >
  <nav id="mainNav" class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">{{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navul" >
                <li style="z-index:999;">
                    <a id='preorderabout'class="page-scroll" href="/about/">{{ with .Site.Params.navigation.links.about }}{{ . }}{{ end }}</a>
                </li>
                <li style="z-index:999;">
                    <a id='preorderblog'  class="page-scroll" href="/blog/">{{ with .Site.Params.navigation.links.blog }}{{ . }}{{ end }}</a>
                </li>

                <li style="z-index:999;">
                    <a id='preordercontact'  class="page-scroll" href="/contact/">{{ with .Site.Params.navigation.links.contact }}{{ . }}{{ end }}</a>
                </li>
                <li style="z-index:999;">
                    <a id='preordernav'  class="page-scroll" href="/preorder/">{{ with .Site.Params.navigation.links.preorder }}{{ . }}{{ end }}</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<form style="padding:15px 0; width:100%; text-align:center; background-color:#fff"  action="#" id="mc-embedded-subscribe-form" class="validate container desktophide" >
  <div id="topsignup" class="row" >
  <div class="col-sm-7">
    <p style='margin:0 0;float:left; padding-top:8px;margin-right:0;padding-right:0;  font-family: AlrightSans-Light;
    font-size: 18px;
    color: #50b74e;
    font-weight:bold;
    letter-spacing: 0px;
    text-align:center;
    line-height: 26px;' >PRE-ORDER YOUR MAILHAVEN TODAY!</p>    </div>

  <div class="col-sm-5">
    <input id='preorderdesktop' style=" border:solid thin;" class="btn btn-primary btn-xl page-scroll" type=''  name="" id="mc-embedded-subscribe" class="button" value=Pre-Order>
  </div>
</div>
</form>

<form  style="padding:15px 0; width:100%; text-align:center; background-color:#fff;z-index:0;"  action="#formsection" id="mc-embedded-subscribe-form" class="validate container tablethide" >
  <div class="tabletsignup" class="row" style="text-align:center;" >
    <div class="col-xs-12" style="width:100%;" >
      <p style='margin:0 0; padding-top:8px;margin-right:0;padding-right:0;  font-family: AlrightSans-Light;
      font-size: 18px;
      color: #50b74e;
      letter-spacing: 0px;
      font-weight:bold;
      text-align:center;
      line-height: 26px;' >PRE-ORDER YOUR MAILHAVEN TODAY!</p>
    </div>
</div>
<br><br>
  <div class="row tabletsignup" style="width:100%;">


  <div class="col-xs-12"  >
    <input id='preorderbutton' style=" border:solid thin;width:100%;" class="btn btn-primary btn-xl page-scroll" type='submit'  name="subscribe" id="mc-embedded-subscribe" class="button" value="Pre-Order">
  </div>
</div>
</form>
<div style="width:100%;  display:block; overflow:auto; height:auto; background-color:#50b74e; padding:5% 0 0 0;">
  <p style='font-family: AlrightSans-Medium;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 30px;
  text-align:center;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.30);'>Is the smart mailbox pilot right for you?</p></br></br>
<div style="width:100%;  color:#fff; margin-left:10%; font-weight:normal; ">

  <div class='aboutcta1'>
    <i class="fa fa-cube fa-4x" aria-hidden="true" style="margin-bottom:10px;"></i>
    <!-- <img src="/img/Assets/Package Icon.png" style='width:50px; height:50px; color:white;'> -->

    <p style='font-family: AlrightSans-Medium;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 30px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.30);'>You should order and receive physical goods in the mail at least 5 times a month.</p>
  </div>
  <div class='aboutcta1'>
    <i class="fa fa-home fa-4x" aria-hidden="true" style="margin-bottom:10px;" ></i>


    <p style='font-family: AlrightSans-Medium;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 30px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.30);'>You should have a front yard where MailHaven can be installed.</p>
  </div>
  <div class='aboutcta1' >
    <i class="fa fa-usd fa-4x" aria-hidden="true" style="margin-bottom:10px;"></i>


    <p style='font-family: AlrightSans-Medium;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 30px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.30);'>You should be ready to make a payment of $500 to pre-order your MailHaven.</p>
  </div>
</div>

</div>




<div id='header-content' style="text-align:center; background-color:#fff; padding-top:3%;" >
  <!-- <img  style=' position:relative; width:100%; min-height:100%;'  src="/img/Assets/TheHardware-BKG.png"> -->
  <div id='preorderdiv'>
    <h1 style='font-family: AlrightSans-Light;
  font-size: 30px;
  color: #4D4D4D;
  letter-spacing: 0px; padding-top:20px;margin-top:0;'>Smart Mailbox Pilot Program Benefits</h1></br>
  <div id="pretopdiv">
  <ul style="list-style-type: square; margin-bottom:0; padding-bottom:0; text-align:center;">
    <li style='font-family: AlrightSans-Light;
    font-size: 20px;
    color: #4D4D4D;
    letter-spacing: 0px;
    line-height: 20px;
    text-align:left;
    text-shadow: 0px 2px 2px rgba(255,255,255,0.79);'>Be one of the first people in history to own a smart mailbox.
  </li><br>
    <li style='font-family: AlrightSans-Light;
    font-size: 20px;
    color: #4D4D4D;
    letter-spacing: 0px;
    line-height: 20px;
    text-align:left;
    text-shadow: 0px 2px 2px rgba(255,255,255,0.79);'>You will have no monthly payments for two years (a $300 value).</li><br>

    <li style='font-family: AlrightSans-Light;
    font-size: 20px;
    color: #4D4D4D;
    letter-spacing: 0px;
    line-height: 20px;
    text-align:left;
    text-shadow: 0px 2px 2px rgba(255,255,255,0.79);'>You will receive a free upgraded MailHaven for life! (Once our data is gathered and our prototype is improved upon.)</li></br></br>
  </ui>
  </div>



  </div>
</div>




</header>
<div id='formsection' style='background-color: #fff;
min-height:auto;  min-width:100%; text-align:center;'>
<!-- <div class='ctabr'></br ></br><h2 style='color:#000;'>Pre-Order</h2></div> -->

 <div id='mailboxformwidth' style='text-align:center;color:#fff; height:100%; padding-top:0;'>
   <div id='formback' style=' background: -webkit-linear-gradient(left, #202020 , #585858);padding-top:10%; width:100%; height:120%; overflow:visible; '>
     {{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}

   <h3 style='font-family: AlrightSans-Light;
 color: #FFFFFF;
 letter-spacing: 0px;
 line-height: 34px;' >Pre-Order your MailHaven today!</h3></br>
 <p style='font-family: AlrightSans-Light;
 font-size: 16px;
 color: #fff;
 letter-spacing: 0px;
 line-height: 24px;
 text-align:left;
 '><i>Please note, we have a limited number of units available for this pilot program. If you're interested in the smart mailbox pilot program, please fill out this brief form below.</i>
</p><br>


 <form id="preform"  action="//mailhaven.us13.list-manage.com/subscribe/post?u=f21d21264b657f9c75ed126c8&amp;id=f3e7bc93ea" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" >
     <input id="preorderemail" placeholder=" Email Address"  style='font-family: AlrightSans-Light;
     font-size: 16px;
     color: #4A4A4A;
     letter-spacing: 0px; background: #FFFFFF;
     border: 1px solid #4A4A4A;text-align:left;' type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required/>
     <input  id="formname" placeholder=" First Name" style='font-family: AlrightSans-Light;
     font-size: 16px;
     color: #4A4A4A;
     letter-spacing: 0px; background: #FFFFFF;
     border: 1px solid #4A4A4A;text-align:left;' type="text" value="" name="FNAME" class="" id="mce-FNAME" >
     <input id="formlast" placeholder=" Last Name" style='font-family: AlrightSans-Light;
     font-size: 16px;
     color: #4A4A4A;
     letter-spacing: 0px; background: #FFFFFF;
     border: 1px solid #4A4A4A;text-align:left;' type="text" value="" name="LNAME" class="" id="mce-LNAME">
     <input id="prezip" placeholder=" Zip Code"  style='font-family: AlrightSans-Light;
     font-size: 16px;
     color: #4A4A4A;
     letter-spacing: 0px; background: #FFFFFF;
     border: 1px solid #4A4A4A;text-align:left;' type="text" pattern="[0-9]{5}" value="" name="ZIPCODE" class="required" id="mce-ZIPCODE" required/>
     <label style="width:100%; text-align:left; font-size:16px; ">What most interests you about having a MailHaven smart mailbox?</label>
     <textarea id="preinterest" placeholder=" "  style='padding-top:0px;font-family: AlrightSans-Light;
     font-size: 16px;
     color: #4A4A4A;
     letter-spacing: 0px; background: #FFFFFF;
     text-overflow: ellipsis;
     border: 1px solid #4A4A4A;text-align:left;' type="text" value="" name="INTEREST" id="mce-INTEREST" rows="4"></textarea>
     <div style="width:100%; text-align:left; ">

     <input style='font-family: AlrightSans-Light;
     font-size: 16px;
     letter-spacing: 0px;
     color: #4A4A4A;
     text-align:left;' type="checkbox"  name="group[11625][1]" id="mce-group[11625]-11625-0" value="1" checked="checked" > Email me MailHaven news updates.<br>
     <input style='font-family: AlrightSans-Light;
     font-size: 16px;
     letter-spacing: 0px;
     color: #4A4A4A;
     text-align:left;' type="checkbox" name="group[11625][2]" id="mce-group[11625]-11625-1" value="2" checked="checked" >  Email me about this smart mailbox pilot program.<br>
   </div>
   <div id="mce-responses" class="clear">
   <div class="response" id="mce-error-response" style="display:none"></div>
   <div class="response" id="mce-success-response" style="display:none"></div>
 </div>
 <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f21d21264b657f9c75ed126c8_f3e7bc93ea" tabindex="-1" value=""></div>

   </br>

   <center><input id='prebutton'  class="btn btn-primary btn-xl page-scroll" type='submit'  name="subscribe" id="mc-embedded-subscribe" class="button"  value=Send></center>

 </form>








</div>


 </div>










</div>
<div style="width:100%;  display:block; overflow:auto; height:auto; background:-webkit-radial-gradient(100% -9%, #88DC86 0%, #82D980 9%, #58BC56 70%, #58BC56 86%, #50B74E 100%);; padding:5% 0 0 0;">

<p style="width:80%; margin:0 10% 5% 10%; color:#fff;"><i>The MailHaven unit will be delivered no later than January 15th. In the event of a delay, the amount maybe refunded or the customer may agree to wait for the unit. If a refund is issued, the customer will forfeit their ownership of the unit and their spot in the pilot program. By purchasing a MailHaven preorder, customer agrees that: 1) MailHaven unit may not work 100% of the time. 2) The MailHaven unit is a prototype and should be treated as one. 3) They will share information on the MailHaven use with the seller to help with the next iteration of the Mailhaven unit. 4) If there is any problems with theft from the MailHaven inc, we will work with the customer to reimburse them up to $200 if allegations are valid and have an accompanying police report.</i></p>

</div>

<script>

$("#preorderdesktop").click(function() {
    $('html, body').animate({
        scrollTop: $("#formsection").offset().top
    }, 2000);
});
// $("#preorderbutton").click(function() {
//     $('html, body').animate({
//         scrollTop: $("#preorderemail").offset().top
//     }, 200);
// });
      var presend = document.getElementById('prebutton');
    presend.onclick=function(event) {

      var x = document.getElementById('preorderemail').value;
   var atpos = x.indexOf("@");
   var dotpos = x.lastIndexOf(".");
   var zcode=document.getElementById('prezip').value;

   var zvalid=(/(^\d{5}$)|(^\d{5}-\d{4}$)/.test(zcode));
   if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length || zvalid===false || x==""){
     console.log('prevent');
event.preventDefault();
       alert("Please enter email address and zipcode!");
   }

      };



  </script>



{{partial "footer.html" .}}
