<div id='teamdiv' style='max-height:auto;'>
</br></br>
  <h2> Our Team</h2></br></br>
  <div class='teammember'  >
    <img src="/img/Kela Image 220w.png"></br></br>
    <p style="line-height:0.5; font-family: AlrightSans-Light;
font-size: 24px;
color: #4D4D4D;
letter-spacing: 0px;
line-height: 30px; margin-top:0; margin-bottom:0;">Kela Ivonye</p>
    <p style="color:#a9a9a9;font-family: AlrightSans-LightItalic;
font-size: 18px;
color: #9B9B9B;
letter-spacing: 0px;
line-height: 30px;"><i>Chief Executive Officer</i></p>

<a href='https://twitter.com/Zabimaru_Ichigo'><i style='
width:100px;
height:100px;
font-size: 25px;
margin-right:10px;
color: #50B74E;
letter-spacing: 0px;' class="ion-social-twitter"></i></a>


<a href='https://www.linkedin.com/in/kelaivonye'><i style='
width:100px;
height:100px;
font-size: 25px;

color: #50B74E;
letter-spacing: 0px;' class="ion-social-linkedin"></i></a></br>


      <p style='font-family: AlrightSans-Light;
font-size: 16px;
color: #4D4D4D;
letter-spacing: 0px;
line-height: 26px;'>Kela is a second-time founder with a passion for building technology that reduces carbon emission in traditional industries. He is a champion for the United Nations Climate Neutral Now Initiative. His academic background is in spatial analysis, and when he is not problem-solving he enjoys reading, watching soccer, and playing volleyball.</p>

  </div>
  <!-- <div class='teammember'   >
    <img style='border-radius:50%; width:220px; height:220px;' src="/img/Assets/DSC_0199.jpg"></br></br>
    <p style="line-height:0.5; font-family: AlrightSans-Light;
font-size: 24px;
color: #4D4D4D;
letter-spacing: 0px;
line-height: 30px;margin-top:0; margin-bottom:0;">David Wright</p>
    <p style="color:#a9a9a9;font-family: AlrightSans-LightItalic;
font-size: 18px;
color: #9B9B9B;
letter-spacing: 0px;
line-height: 30px;"><i>Lead Engineer</i></p>


<a href='https://www.linkedin.com/in/david-wright-772aa6a5'><i style='
width:100px;
height:100px;
font-size: 25px;

color: #50B74E;
letter-spacing: 0px;' class="ion-social-linkedin"></i></a></br>

      <p style='font-family: AlrightSans-Light;
font-size: 16px;
color: #4D4D4D;
letter-spacing: 0px;
line-height: 26px;'>David is an Electrical Engineer who is loves building things. He has a B.sc in Electrical and Electronic Engineering from the University of Louisville. He loves building motorcycles during his spare time. </p>

  </div> -->
  <div class='teammember'   >
    <img style='border-radius:50%; width:220px; height:220px' src="/img/Assets/mailhaven-2.jpg"></br></br>
    <p style="line-height:0.5; font-family: AlrightSans-Light;
font-size: 24px;
color: #4D4D4D;
letter-spacing: 0px;
line-height: 30px;margin-top:0; margin-bottom:0;">Jonathan Frasier</p>
    <p style="color:#a9a9a9;font-family: AlrightSans-LightItalic;
font-size: 18px;
color: #9B9B9B;
letter-spacing: 0px;
line-height: 30px;"><i>Chief Technical Officer</i></p>
<a href='https://twitter.com/jjfraz11'><i style='
width:100px;
height:100px;
font-size: 25px;
margin-right:10px;
color: #50B74E;
letter-spacing: 0px;' class="ion-social-twitter"></i></a>


<a href='https://www.linkedin.com/in/jonathan-frazier-a7141221'><i style='
width:100px;
height:100px;
font-size: 25px;

color: #50B74E;
letter-spacing: 0px;' class="ion-social-linkedin"></i></a></br>
      <p style='font-family: AlrightSans-Light;
font-size: 16px;
color: #4D4D4D;
letter-spacing: 0px;
line-height: 26px;'>Jonathan is a data scientist and software engineer who is excited about using technology and analytics to find novel answers to hard questions. He studied Political Science and Economics at MIT and honed his development skills at startups in Boston and Louisville. He enjoys learning about and toying with interesting new tech as well playing the occasional video game.</p>

  </div>
  <div class='teamlast' >
    <img src="/img/Dave Image 220w.png"></br></br>
    <p style="line-height:0.5;font-family: AlrightSans-Light;
font-size: 24px;
color: #4D4D4D;
letter-spacing: 0px;
line-height: 30px;margin-top:0; margin-bottom:0;">Dave Durand</p>
    <p style="color:#a9a9a9; font-family: AlrightSans-LightItalic;
font-size: 18px;
color: #9B9B9B;
letter-spacing: 0px;
line-height: 30px;"><i>Board Chairman</i></p>
<a href='https://twitter.com/daved'><i style='
width:100px;
height:100px;
font-size: 25px;
margin-right:10px;
color: #50B74E;
letter-spacing: 0px;' class="ion-social-twitter"></i></a>


<a href='https://www.linkedin.com/in/davedurand'><i style='
width:100px;
height:100px;
font-size: 25px;

color: #50B74E;
letter-spacing: 0px;' class="ion-social-linkedin"></i></a></br>

      <p style='font-family: AlrightSans-Light;
font-size: 16px;
color: #4D4D4D;
letter-spacing: 0px;
line-height: 26px;'>Dave started Forest Giant in San Diego in 2002. Dave‘s initial role as an interactive designer has blossomed into a focus on business development for the company and managing day-to-day operations at the Louisville headquarters.</p>
  </div>


</div>
