@media(min-width:1700px) {
  body {
    margin: 0 15%;
    width: 70%;
    background-color: #000;
  }
}
@media only screen and (max-width:850px) {
  #desktopheader {
    display: none;
  }
  #mobileheader {
    display: initial;
  }
  .navbar-brand {
    margin: 0;
    padding: 20px 0 0 0;
  }
  .navbar-brand img {
    width: 70%;
  }
  #showbuttons {
    display: none;
  }
  #hidebuttons {
    clear: both;
    padding-top: 0px;
    display: block;
    margin-left: 20px;
  }
  #hidebuttons .btn {
    width: 120px;
    margin-right: 20px;
  }
  header {
    height: auto;
    min-height: auto;
    padding-bottom: 80px;
    max-height: auto;
  }
  .header-content {
    margin: 20% 0 10% 0;
    padding: 0;
    width: 50%;
    padding-left: 5%;
    text-align: left;
  }
  .header-content-image {
    padding: 0;
    width: 40%;
    text-align: left;
    height: 100%;
    margin-right: 2%;
  }
  .header-content-inner h1 {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 0px;
  }
  .header-content-inner p {
    font-size: 8px;
    line-height: 25px;
    padding: 0;
    margin: 0;
    padding-bottom: 0px;
    float: left;
  }
  .header-content-inner .btn {
    width: 100px;
    padding: 0;
    margin: 0;
    padding: 5px 0;
    margin-right: 12px;
  }
  .header-content-inner img {
    width: 100%;
    height: 100%;
  }
  .product-content-inner {
    clear: both;
    width: 100%;
    margin-top: 2px;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    text-align: center;
  }
  .product-content {
    clear: both;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
    border: none;
    text-align: center;
  }
  .product-content img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  .product-content .btn {
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .product-content-inner .btn {
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .about-product-content .btn {
    margin-top: 35%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .about-product-content-inner .btn {
    margin-top: 25%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .product-content-inner img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  #footerdiv {
    background-color: #000;
    width: 100%;
    height: 150px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: table;
  }
  #footerdiv p {
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  #bs-example-navbar-collapse-2 {
    display: none;
  }
  .navbar-toggle {
    margin-right: 70px;
    margin-top: 40px;
    list-style-type: none;
    border: none;
    background-color: none;
    padding: 0;
    color: #fff;
  }
  .collapsed {
    list-style-type: none;
  }
  #aboutheader {
    height: auto;
  }
  #aboutheading h1 {
    font-family: AlrightSans-Light;
    font-size: 34px;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    padding-top: 15px;
  }
  #aboutheading p {
    font-family: "AlrightSans-Light";
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    line-height: 32px;
  }
  .aboutsectiondiv {
    margin-top: 0;
    padding-top: 0;
  }
  .about-product-content-inner {
    clear: both;
    width: 100%;
    margin-top: 2px;
    padding-top: 50px;
    padding-right: 0;
    text-align: center;
  }
  #appmain h1 {
    font-size: 30px;
  }
  .about-product-content {
    clear: both;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
    border: none;
    text-align: center;
  }
  .about-product-content img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  .about-product-content .btn {
    margin-top: 20px;
  }
  .about-product-content-inner .btn {
    margin-top: 20px;
  }
  .about-product-content-inner img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  #aboutproduct {
    display: none;
  }
  .aboutcta1 {
    clear: both;
    text-align: center;
    width: 80%;
    margin: 0;
    padding-bottom: 10px;
  }
  #teamdiv {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    min-height: 100%;
    max-height: auto;
    height: auto;
    background-color: #fff;
    color: #000;
    text-align: center;
  }
  #teamdiv h2 {
    font-family: AlrightSans-Light;
    font-size: 34px;
    color: #4D4D4D;
    letter-spacing: 0px;
  }
  .teammember {
    clear: both;
    width: 100%;
    padding-bottom: 5%;
    margin-left: 0;
    padding-left: 0;
  }
  .teamlast {
    clear: both;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 5%;
  }
  .better {
    padding-top: 50px;
  }
  #contactform {
    height: auto;
    padding: 0;
    clear: both;
    width: 80%;
    margin: 0 10%;
    padding-top: 100px;
  }
  .contactdiv {
    margin-top: 3%;
    padding-left: 0%;
    padding-bottom: 20px;
  }
  #contacticons {
    padding-top: 70px;
    padding-bottom: 30px;
    color: #000;
    width: 80%;
    margin: 0 10%;
    float: left;
  }
  #contactsubdiv {
    text-align: center;
    margin-bottom: 5%;
    border-bottom: thin solid rgba(34, 34, 34, .05);
  }
  #contacthead {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #bettertogeather {
    margin: 0 5% 40px 5%;
  }
  #apphead {
    padding-bottom: 0;
  }
  #lockicon {
    clear: both;
    margin-right: 20px;
    width: 50px;
    height: 50px;
  }
  #lockicon h4 {
    text-align: right;
    width: 50%;
    margin-left: 10%;
  }
  #lockdiv {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #appmain {
    clear: both;
    width: 70%;
    margin: 0 15%;
    pading: 0;
  }
  .appsection {
    margin-top: 3%;
    padding-top: 7%;
    padding-bottom: 9%;
    background-color: #D3D3D3;
    background-image: linear-gradient(22deg, #D6D6D6 0%, #FFFFFF 96%);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.50);
    margin-left: 0;
    padding-left: 0;
  }
  #thanksbutton {
    text-align: center;
  }
  .app-header-content-image {
    clear: both;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .app-header-content-inner {
    width: 100;
    height: 100%;
  }
  #mailboxhead {
    padding-bottom: 30px;
    margin-top: 50px;
    min-height: auto;
    background-image: none;
  }
  #mailboxdiv {
    padding-left: 0;
    min-height: auto;
    width: 80%;
    margin: 0 10%;
    text-align: center;
  }
  #thankshead {
    padding-bottom: 0;
  }
  #thanksimage {
    display: none;
  }
  #thanksform {
    height: auto;
    padding: 0;
    width: 90%;
    margin: 0 5% 0 5%;
    text-align: center;
  }
  #thankssectiondiv {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin: 0%;
    background-color: #D3D3D3;
    padding: 0;
  }
  #thanksmobileimage {
    display: initial;
  }
  #thankssectiondiv .btn {
    width: 120px;
  }
  .mainblog {
    width: 90%;
    margin: 7% 5% 7% 5%;
  }
  .mainblog img {
    border-radius: 50%;
    position: absolute;
    top: -3%;
    left: 42%;
    width: 50px;
    height: 50px;
  }
  .blogsicon {
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 40%;
    width: 50px;
    height: 50px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: none;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }
}
@media only screen and (max-device-width: 767px),only screen and (max-width: 767px) {
  .header-content-image {
    padding: 0;
    width: 50%;
    text-align: left;
    height: 100%;
    margin-right: 2%;
  }
  .better {
    padding-top: 50px;
  }
  .app-header-content-image {
    margin: 0;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }
  #hidebuttons {
    clear: both;
    display: block;
    margin-left: 20px;
  }
  .product-content .btn {
    margin-top: 20%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .product-content-inner .btn {
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  #aboutdiv {
    width: 60%;
    display: table;
    float: right;
    padding-right: 5%;
  }
  .navbar-nav {
    margin: 0;
  }
  #aboutheader {
    padding-bottom: 5px;
  }
  .container-fluid {
    opacity: 1;
    padding: 0;
    border: none;
  }
  .container-fluid ul {
    background-color: #50b74e;
    padding-right: 0;
    margin-right: 0;
  }
  .container-fluid ul li {
    text-align: center;
  }
  .navul {
    opacity: 1;
    font-family: AlrightSans-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
    z-index: 999;
    position: relative;
    display: block;
  }
  header {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: visible;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.50);
    background-color: #4a4a4a;
    background-image: -webkit-radial-gradient(95% 2%, #4a4a4a 0%, rgba(0, 0, 0, 0.50) 100%);
  }
  #mailabout {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 100px;
  }
  #mailblog {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #mailcontact {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #aboutnav {
    border-bottom: none;
    padding: 0 0 5px 0;
    margin: 40px 40px 0 100px;
  }
  #aboutblog {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #aboutcontact {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #homeabout {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 100px;
  }
  #homeblog {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #homecontact {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #appabout {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 100px;
  }
  #appblog {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #appcontact {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #blogabout {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 100px;
  }
  #forblog {
    border-bottom: none;
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #blogcontact {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #blogsabout {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 100px;
  }
  #forblogs {
    border-bottom: none;
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #blogscontact {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #contactabout {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 100px;
  }
  #contactblog {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #forcontact {
    border-bottom: none;
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #thanksabout {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 100px;
  }
  #thanksblog {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #thankscontact {
    padding: 0 0 5px 0;
    margin: 40px 40px 0 0;
  }
  #bs-example-navbar-collapse-1 {
    margin-right: 0%;
    padding-right: 0;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
  }
  .navbar-default .nav> li>a, .navbar-default .nav>li>a:focus {
    text-align: right;
  }
  #formwidth {
    width: 100%;
    padding: 0;
  }
  .ctabr {
    display: none;
  }
  #mailboxformwidth {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #formback {
    padding: 5% 10% 10 10%;
  }
  #formsection {
    padding-bottom: 0%;
  }
  #footerdiv p {
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: none;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px),
  only screen and (min-width: 768px) and (max-width: 1024px){
  #formwidth {
    width: 50%;
    padding-left: 5%;
  }
  .product-content .btn {
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .product-content-inner .btn {
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .header-content {
    padding: 0;
  }
  .product-content {
    position: relative;
    width: 50%;
    text-align: center;
    overflow: hidden;
    padding-left: 0%;
  }
  .product-content-inner {
    position: relative;
    width: 50%;
    text-align: center;
    padding-right: 0%;
  }
  .about-product-content {
    position: relative;
    width: 50%;
    text-align: center;
    overflow: hidden;
    padding-left: 0%;
  }
  .about-product-content-inner {
    position: relative;
    width: 50%;
    text-align: center;
    padding-right: 0%;
  }
  .aboutcta1 {
    margin-right: 8%;
  }
  .aboutcta1 p {
    padding-left: 30px;
  }
  #aboutheading h1 {
    font-size: 34px;
  }
  #aboutheading p {
    font-size: 20px;
    line-height: 32px;
  }
  #teamdiv {
    padding-left: 25px;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
  only screen and (min-width: 320px) and (max-width: 480px){
  #aboutbackground {
    padding-top: 1%;
    height: auto;
    overflow: auto;
    padding: 10% 0;
    width: 100%;
    background-image: none;
    background-color: #4a4a4a;
    background-image: -webkit-radial-gradient(95% 2%, #4a4a4a 0%, rgba(0, 0, 0, 0.50) 100%);
    ;
    text-align: center;
  }
  #aboutdiv {
    width: 80%;
    clear: both;
    padding-right: 0;
    margin: 0 10%;
  }
  .navul {
    opacity: 1;
    font-family: AlrightSans-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
    z-index: 999;
    position: relative;
    display: block;
  }
  #thanksbutton {
    text-align: center;
  }
  #desktopheader {
    display: none;
  }
  #mobileheader {
    display: initial;
  }
  .navbar-brand {
    margin: 0;
    padding: 20px 0 0 0;
  }
  .navbar-brand img {
    width: 70%;
  }
  #showbuttons {
    display: none;
  }
  #hidebuttons {
    clear: both;
    padding-bottom: 8%;
    display: block;
    margin-left: 20px;
  }
  #hidebuttons .btn {
    width: 120px;
    margin-right: 20px;
  }
  header {
    height: auto;
    min-height: auto;
    padding-bottom: 0;
    max-height: auto;
  }
  .header-content {
    margin: 0;
    padding: 0;
    width: 80%;
    margin: 0 10%;
    text-align: center;
    clear: both;
  }
  header .header-content-image {
    clear: both;
    padding: 0;
    width: 80%;
    text-align: center;
    height: 100%;
    margin: 8% 10% 8% 10%;
  }
  .header-content-inner h1 {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 0px;
  }
  .header-content-inner p {
    font-size: 8px;
    line-height: 25px;
    padding: 0;
    margin: 0;
    padding-bottom: 0px;
    max-width: 100%;
    min-width: 100%;
  }
  .header-content-inner .btn {
    width: 100px;
    padding: 0;
    margin: 0;
    padding: 5px 0;
    margin-right: 12px;
  }
  .header-content-inner img {
    width: 100%;
    height: 100%;
  }
  .product-content-inner {
    clear: both;
    width: 100%;
    margin-top: 2px;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    text-align: center;
  }
  .product-content {
    clear: both;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
    border: none;
    text-align: center;
  }
  .product-content img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  .product-content .btn {
    margin-top: 35%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .product-content-inner .btn {
    margin-top: 25%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .about-product-content .btn {
    margin-top: 35%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .about-product-content-inner .btn {
    margin-top: 25%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .product-content-inner img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  .better {
    padding-top: 50px;
  }
  .app-header-content-image {
    margin: 0;
  }
  #footerdiv {
    background-color: #000;
    width: 100%;
    height: 150px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: table;
  }
  #footerdiv p {
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  #bs-example-navbar-collapse-2 {
    display: none;
  }
  .navbar-toggle {
    margin-right: 70px;
    margin-top: 40px;
    list-style-type: none;
    border: none;
    background-color: none;
    padding: 0;
    color: #fff;
  }
  .collapsed {
    list-style-type: none;
  }
  #aboutheader {
    height: auto;
  }
  #aboutheading h1 {
    font-family: AlrightSans-Light;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    padding-top: 15px;
  }
  #aboutheading p {
    font-family: "AlrightSans-Light";
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    line-height: 32px;
  }
  .aboutsectiondiv {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .about-product-content-inner {
    clear: both;
    width: 100%;
    margin-top: 2px;
    padding-top: 50px;
    padding-right: 0;
    text-align: center;
  }
  #appmain h1 {
    font-size: 30px;
  }
  .about-product-content {
    clear: both;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
    border: none;
    text-align: center;
  }
  .about-product-content img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  .about-product-content .btn {
    margin-top: 20px;
  }
  .about-product-content-inner .btn {
    margin-top: 20px;
  }
  .about-product-content-inner img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  #aboutproduct {
    display: none;
  }
  .aboutcta1 {
    clear: both;
    text-align: center;
    width: 80%;
    margin: 0;
    padding-bottom: 10px;
  }
  #teamdiv {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    min-height: 100%;
    max-height: auto;
    height: auto;
    background-color: #fff;
    color: #000;
    text-align: center;
  }
  #teamdiv h2 {
    font-family: AlrightSans-Light;
    font-size: 34px;
    color: #4D4D4D;
    letter-spacing: 0px;
  }
  .teammember {
    clear: both;
    width: 100%;
    padding-bottom: 10%;
    margin-left: 0;
    padding-left: 0;
  }
  .teamlast {
    clear: both;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 5%;
  }
  #contactform {
    height: auto;
    padding: 0;
    clear: both;
    width: 80%;
    margin: 0 10%;
    padding-top: 10px;
  }
  #contactform h3 {
    line-height: 24px;
  }
  .contactdiv {
    margin-top: 3%;
    padding-left: 0%;
    padding-bottom: 20px;
  }
  #contacticons {
    padding-top: 70px;
    padding-bottom: 30px;
    color: #000;
    width: 80%;
    margin: 0 10%;
    float: left;
  }
  #contactsubdiv {
    text-align: center;
    margin-bottom: 5%;
    border-bottom: thin solid rgba(34, 34, 34, .05);
  }
  #contacthead {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #bettertogeather {
    margin: 0 5% 40px 5%;
    font-size: 20px;
  }
  .better {
    font-size: 30px;
  }
  #apphead {
    padding-bottom: 0;
  }
  #lockicon {
    clear: both;
    margin: 5% 40%;
    width: 50px;
    height: 50px;
  }
  #lockicon h4 {
    text-align: right;
    width: 50%;
    margin-left: 10%;
  }
  #lockdiv {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #appmain {
    clear: both;
    width: 70%;
    margin: 0 15%;
    pading: 0;
  }
  .appsection {
    margin-top: 3%;
    padding-top: 7%;
    padding-bottom: 9%;
    background-color: #D3D3D3;
    background-image: linear-gradient(22deg, #D6D6D6 0%, #FFFFFF 96%);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.50);
    margin-left: 0;
    padding-left: 0;
  }
  .app-header-content-image {
    clear: both;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .app-header-content-inner {
    width: 100;
    height: 100%;
  }
  #mailboxhead {
    padding-bottom: 30px;
    margin-top: 50px;
    min-height: auto;
    background-image: none;
  }
  #mailboxdiv {
    padding-left: 0;
    min-height: auto;
    width: 80%;
    margin: 0 10%;
    text-align: center;
  }
  #thankshead {
    padding-bottom: 0;
  }
  #thanksimage {
    display: none;
  }
  #thanksform {
    height: auto;
    padding: 0;
    width: 90%;
    margin: 0 5% 0 5%;
    text-align: center;
  }
  #thanksmargin {
    margin-top: 50px;
  }
  #thanksmargin h4 {
    padding-bottom: 50px;
  }
  #thankssectiondiv {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin: 0%;
    background-color: #D3D3D3;
    padding: 0;
  }
  #thanksmobileimage {
    display: initial;
  }
  #thankssectiondiv .btn {
    width: 120px;
  }
  .mainblog {
    width: 90%;
    margin: 7% 5% 7% 5%;
  }
  .mainblog img {
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 42%;
    width: 50px;
    height: 50px;
  }
  .blogsicon {
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 35%;
    width: 50px;
    height: 50px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: none;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px),
  only screen and (min-width: 375px) and (max-width: 667px){
  .navul {
    opacity: 1;
    font-family: AlrightSans-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
    z-index: 999;
    position: relative;
    display: block;
  }
  .header-content-image {
    padding: 0;
    width: 60%;
    text-align: left;
    height: 100%;
    margin-right: 2%;
  }
  #thanksbutton {
    text-align: center;
  }
  .better {
    padding-top: 50px;
  }
  .app-header-content-image {
    clear: both;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .app-header-content-inner {
    width: 100;
    height: 100%;
  }
  #hidebuttons {
    clear: both;
    padding: 0;
    margin: 0;
    display: block;
    margin-left: 20px;
    padding-bottom: 8%;
  }
  .product-content .btn {
    margin-top: 20%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .product-content-inner .btn {
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: none;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }
}
@media only screen and (min-width: 769px) and (max-width:1089px) {
  .product-content img {
    width: 60%;
    height: 60%;
  }
  .product-content-inner img {
    width: 60%;
    height: 60%;
  }
  .header-content {
    padding: 0;
    margin-left: 5%;
  }
  .header-content-image {
    padding: 0;
    margin-right: 5%;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }
}
@media only screen and (min-width:1077px) and (max-width: 1420px) {
  #teamdiv {
    padding-left: 5%;
  }
  .aboutcta1 {
    margin-right: 8%;
  }
  form #formemail {
    font-family: AlrightSans-Light;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0px;
    background: #FFFFFF;
    border: 1px solid #4A4A4A;
    width: 100%;
    height: 30px;
    margin: 0 0 5% 0;
  }
  form #formname {
    font-family: AlrightSans-Light;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0px;
    background: #FFFFFF;
    border: 1px solid #4A4A4A;
    width: 48%;
    margin: 0 4% 5% 0;
    height: 30px;
    float: left;
  }
  form #formlast {
    font-family: AlrightSans-Light;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0px;
    background: #FFFFFF;
    border: 1px solid #4A4A4A;
    width: 48%;
    margin-bottom: 5%;
    height: 30px;
  }
  #aboutheading p {
    font-family: "AlrightSans-Regular";
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 32px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
  }
  .header-content-inner h1 {
    font-size: 24px;
  }
  .header-content-inner p {
    font-size: 20px;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }
}
@media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-toggle {
    margin-right: 70px;
    margin-top: 40px;
    list-style-type: none;
    border: none;
    background-color: none;
    padding: 0;
    color: #fff;
  }
  .collapsed {
    list-style-type: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: none;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }
}
@media only screen and (max-width: 768px) {
  .navul {
    opacity: 1;
    font-family: AlrightSans-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
    z-index: 999;
    position: relative;
    display: block;
  }
  #bs-example-navbar-collapse-2 {
    display: none;
  }
  .navbar-toggle {
    margin-right: 70px;
    margin-top: 40px;
    list-style-type: none;
    border: none;
    background-color: none;
    padding: 0;
    color: #fff;
  }
  .collapsed {
    list-style-type: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: none;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }
}
@media only screen and (max-height:414px) and (orientation: landscape) {
  .navul {
    opacity: 1;
    font-family: AlrightSans-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
    z-index: 999;
    position: relative;
    display: block;
  }
  #desktopheader {
    display: none;
  }
  #mobileheader {
    display: initial;
  }
  .navbar-brand {
    margin: 0;
    padding: 20px 0 0 0;
  }
  .navbar-brand img {
    width: 70%;
  }
  #showbuttons {
    display: none;
  }
  #hidebuttons {
    clear: both;
    padding-bottom: 8%;
    display: block;
    margin-left: 20px;
  }
  #hidebuttons .btn {
    width: 120px;
    margin-right: 20px;
  }
  header {
    height: auto;
    min-height: auto;
    padding-bottom: 0px;
    max-height: auto;
  }
  .header-content {
    margin: 0;
    padding: 0;
    width: 80%;
    margin: 0 10%;
    text-align: center;
    clear: both;
  }
  header .header-content-image {
    clear: both;
    padding: 0;
    width: 80%;
    text-align: center;
    height: 100%;
    margin: 8% 10% 8% 10%;
  }
  .header-content-inner h1 {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 0px;
  }
  .header-content-inner p {
    font-size: 8px;
    line-height: 25px;
    padding: 0;
    margin: 0;
    padding-bottom: 0px;
    max-width: 100%;
    min-width: 100%;
  }
  .header-content-inner .btn {
    width: 100px;
    padding: 0;
    margin: 0;
    padding: 5px 0;
    margin-right: 12px;
  }
  .header-content-inner img {
    width: 100%;
    height: 100%;
  }
  .product-content-inner {
    clear: both;
    width: 100%;
    margin-top: 2px;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    text-align: center;
  }
  .product-content {
    clear: both;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
    border: none;
    text-align: center;
  }
  .product-content img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  .product-content .btn {
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .product-content-inner .btn {
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .about-product-content .btn {
    margin-top: 35%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .about-product-content-inner .btn {
    margin-top: 25%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .product-content-inner img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  #footerdiv {
    background-color: #000;
    width: 100%;
    height: 150px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: table;
  }
  #footerdiv p {
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  #bs-example-navbar-collapse-2 {
    display: none;
  }
  .navbar-toggle {
    margin-right: 70px;
    margin-top: 40px;
    list-style-type: none;
    border: none;
    background-color: none;
    padding: 0;
    color: #fff;
  }
  .collapsed {
    list-style-type: none;
  }
  #aboutheader {
    height: auto;
  }
  #aboutheading h1 {
    font-family: AlrightSans-Light;
    font-size: 34px;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    padding-top: 15px;
  }
  #aboutheading p {
    font-family: "AlrightSans-Light";
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    line-height: 32px;
  }
  .aboutsectiondiv {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .about-product-content-inner {
    clear: both;
    width: 100%;
    margin-top: 2px;
    padding-top: 50px;
    padding-right: 0;
    text-align: center;
  }
  #appmain h1 {
    font-size: 30px;
  }
  .about-product-content {
    clear: both;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
    border: none;
    text-align: center;
  }
  .about-product-content img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  .about-product-content .btn {
    margin-top: 20px;
  }
  .about-product-content-inner .btn {
    margin-top: 20px;
  }
  .about-product-content-inner img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  #aboutproduct {
    display: none;
  }
  .aboutcta1 {
    clear: both;
    text-align: center;
    width: 80%;
    margin: 0;
    padding-bottom: 10px;
  }
  #teamdiv {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    min-height: 100%;
    max-height: auto;
    height: auto;
    background-color: #fff;
    color: #000;
    text-align: center;
  }
  #teamdiv h2 {
    font-family: AlrightSans-Light;
    font-size: 34px;
    color: #4D4D4D;
    letter-spacing: 0px;
  }
  .teammember {
    clear: both;
    width: 100%;
    padding-bottom: 10%;
    margin-left: 0;
    padding-left: 0;
  }
  .teamlast {
    clear: both;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 5%;
  }
  .better {
    padding-top: 50px;
  }
  #contactform {
    height: auto;
    padding: 0;
    clear: both;
    width: 80%;
    margin: 0 10%;
    padding-top: 10px;
  }
  #contactform h3 {
    line-height: 24px;
  }
  .contactdiv {
    margin-top: 3%;
    padding-left: 0%;
    padding-bottom: 20px;
  }
  #contacticons {
    padding-top: 70px;
    padding-bottom: 30px;
    color: #000;
    width: 80%;
    margin: 0 10%;
    float: left;
  }
  #contactsubdiv {
    text-align: center;
    margin-bottom: 5%;
    border-bottom: thin solid rgba(34, 34, 34, .05);
  }
  #contacthead {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #bettertogeather {
    margin: 0 5% 40px 5%;
    font-size: 20px;
  }
  .better {
    font-size: 30px;
  }
  #apphead {
    padding-bottom: 0;
  }
  #lockicon {
    clear: both;
    margin: 5% 45%;
    width: 50px;
    height: 50px;
  }
  #lockicon h4 {
    text-align: right;
    width: 50%;
    margin-left: 10%;
  }
  #lockdiv {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #appmain {
    clear: both;
    width: 70%;
    margin: 0 15%;
    pading: 0;
  }
  .appsection {
    margin-top: 3%;
    padding-top: 7%;
    padding-bottom: 9%;
    background-color: #D3D3D3;
    background-image: linear-gradient(22deg, #D6D6D6 0%, #FFFFFF 96%);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.50);
    margin-left: 0;
    padding-left: 0;
  }
  #thanksbutton {
    text-align: center;
  }
  .app-header-content-image {
    clear: both;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .app-header-content-inner {
    width: 100;
    height: 100%;
  }
  #mailboxhead {
    padding-bottom: 30px;
    margin-top: 50px;
    min-height: auto;
    background-image: none;
  }
  #mailboxdiv {
    padding-left: 0;
    min-height: auto;
    width: 80%;
    margin: 0 10%;
    text-align: center;
  }
  #thankshead {
    padding-bottom: 0;
  }
  #thanksimage {
    display: none;
  }
  #thanksform {
    height: auto;
    padding: 0;
    width: 90%;
    margin: 0 5% 0 5%;
    text-align: center;
  }
  #thankssectiondiv {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin: 0%;
    background-color: #D3D3D3;
    padding: 0;
  }
  #thanksmobileimage {
    display: initial;
  }
  #thankssectiondiv .btn {
    width: 120px;
  }
  .mainblog {
    width: 90%;
    margin: 7% 5% 7% 5%;
  }
  .mainblog img {
    border-radius: 50%;
    position: absolute;
    top: -3%;
    left: 42%;
    width: 50px;
    height: 50px;
  }
  .blogsicon {
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 40%;
    width: 50px;
    height: 50px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: none;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }
}

@media only screen and (min-device-width:600px) and (max-device-width:1200px) and (orientation: portrait),
  only screen and (min-width:769px) and (max-width:850px){



  #desktopheader {
    display: none;
  }
  #mobileheader {
    display: initial;
  }
  .navbar-brand {
    margin: 0;
    padding: 20px 0 0 0;
  }
  .navbar-brand img {
    width: 70%;
  }
  #showbuttons {
    display: none;
  }
  #hidebuttons {
    clear: both;
    padding-top: 0px;
    display: block;
    margin-left: 20px;
  }
  #hidebuttons .btn {
    width: 120px;
    margin-right: 20px;
  }
  header {
    height: auto;
    min-height: auto;
    padding-bottom: 80px;
    max-height: auto;
  }
  .header-content {
    margin: 15% 0 10% 0;
    padding: 0;
    width: 50%;
    padding-left: 5%;
    text-align: left;
    float: left;
  }
  .header-content-image {
    padding: 0;
    width: 40%;
    text-align: left;
    height: 100%;
    margin-right: 2%;
  }
  .header-content-inner h1 {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 0px;
  }
  .header-content-inner p {
    font-size: 8px;
    line-height: 25px;
    padding: 0;
    margin: 0;
    padding-bottom: 0px;
    float: left;
  }
  .header-content-inner .btn {
    width: 100px;
    padding: 0;
    margin: 0;
    padding: 5px 0;
    margin-right: 12px;
  }
  .header-content-inner img {
    width: 100%;
    height: 100%;
  }
  .product-content-inner {
    clear: both;
    width: 100%;
    margin-top: 2px;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    text-align: center;
  }
  .product-content {
    clear: both;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
    border: none;
    text-align: center;
  }
  .product-content img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  .product-content .btn {
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .product-content-inner .btn {
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .about-product-content .btn {
    margin-top: 35%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .about-product-content-inner .btn {
    margin-top: 25%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .product-content-inner img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  #footerdiv {
    background-color: #000;
    width: 100%;
    height: 150px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: table;
  }
  #footerdiv p {
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  #bs-example-navbar-collapse-2 {
    display: none;
  }
  .navbar-toggle {
    margin-right: 70px;
    margin-top: 40px;
    list-style-type: none;
    border: none;
    background-color: none;
    padding: 0;
    color: #fff;
  }
  .collapsed {
    list-style-type: none;
  }
  #aboutheader {
    height: auto;
  }
  #aboutheading h1 {
    font-family: AlrightSans-Light;
    font-size: 34px;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    padding-top: 15px;
  }
  #aboutheading p {
    font-family: "AlrightSans-Light";
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    line-height: 32px;
  }
  .aboutsectiondiv {
    margin-top: 0;
    padding-top: 0;
  }
  .about-product-content-inner {
    clear: both;
    width: 100%;
    margin-top: 2px;
    padding-top: 50px;
    padding-right: 0;
    text-align: center;
  }
  #appmain h1 {
    font-size: 30px;
  }
  .about-product-content {
    clear: both;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
    border: none;
    text-align: center;
  }
  .about-product-content img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  .about-product-content .btn {
    margin-top: 20px;
  }
  .about-product-content-inner .btn {
    margin-top: 20px;
  }
  .about-product-content-inner img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  #aboutproduct {
    display: none;
  }
  .aboutcta1 {
    clear: both;
    text-align: center;
    width: 80%;
    margin: 0;
    padding-bottom: 10px;
  }
  #teamdiv {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    min-height: 100%;
    max-height: auto;
    height: auto;
    background-color: #fff;
    color: #000;
    text-align: center;
  }
  #teamdiv h2 {
    font-family: AlrightSans-Light;
    font-size: 34px;
    color: #4D4D4D;
    letter-spacing: 0px;
  }
  .teammember {
    clear: both;
    width: 100%;
    padding-bottom: 5%;
    margin-left: 0;
    padding-left: 0;
  }
  .teamlast {
    clear: both;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 5%;
  }
  .better {
    padding-top: 50px;
  }
  #contactform {
    height: auto;
    padding: 0;
    clear: both;
    width: 80%;
    margin: 0 10%;
    padding-top: 100px;
  }
  .contactdiv {
    margin-top: 3%;
    padding-left: 0%;
    padding-bottom: 20px;
  }
  #contacticons {
    padding-top: 70px;
    padding-bottom: 30px;
    color: #000;
    width: 80%;
    margin: 0 10%;
    float: left;
  }
  #contactsubdiv {
    text-align: center;
    margin-bottom: 5%;
    border-bottom: thin solid rgba(34, 34, 34, .05);
  }
  #contacthead {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #bettertogeather {
    margin: 0 5% 40px 5%;
  }
  #apphead {
    padding-bottom: 0;
  }
  #lockicon {
    clear: both;
    margin-right: 20px;
    width: 50px;
    height: 50px;
  }
  #lockicon h4 {
    text-align: right;
    width: 50%;
    margin-left: 10%;
  }
  #lockdiv {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #appmain {
    clear: both;
    width: 70%;
    margin: 0 15%;
    pading: 0;
  }
  .appsection {
    margin-top: 3%;
    padding-top: 7%;
    padding-bottom: 9%;
    background-color: #D3D3D3;
    background-image: linear-gradient(22deg, #D6D6D6 0%, #FFFFFF 96%);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.50);
    margin-left: 0;
    padding-left: 0;
  }
  #thanksbutton {
    text-align: center;
  }
  .app-header-content-image {
    clear: both;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .app-header-content-inner {
    width: 100;
    height: 100%;
  }
  #mailboxhead {
    padding-bottom: 30px;
    margin-top: 50px;
    min-height: auto;
    background-image: none;
  }
  #mailboxdiv {
    padding-left: 0;
    min-height: auto;
    width: 80%;
    margin: 0 10%;
    text-align: center;
  }
  #thankshead {
    padding-bottom: 0;
  }
  #thanksimage {
    display: none;
  }
  #thanksform {
    height: auto;
    padding: 0;
    width: 90%;
    margin: 0 5% 0 5%;
    text-align: center;
  }
  #thankssectiondiv {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin: 0%;
    background-color: #D3D3D3;
    padding: 0;
  }
  #thanksmobileimage {
    display: initial;
  }
  #thankssectiondiv .btn {
    width: 120px;
  }
  .mainblog {
    width: 90%;
    margin: 7% 5% 7% 5%;
  }
  .mainblog img {
    border-radius: 50%;
    position: absolute;
    top: -3%;
    left: 42%;
    width: 50px;
    height: 50px;
  }
  .blogsicon {
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 40%;
    width: 50px;
    height: 50px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: none;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
  }


}
